html, body {
    height: 100%;
    background-color: #9795A3;
}
header {
    height: 100%;
    width: 25%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
nav {
    margin-top: 20px;
    height: 95%;
    border-style: none !important;
    box-shadow: none !important;
}
.team-btn {
    color: white !important;
    background-color: #261326 !important;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.divider {
    margin: 0 !important;
}
.team-li {
    padding: 20px;
    background-color: #261326;
    color: white;
}
.places-button {
    color: white !important;
    background-color: #7F9871 !important;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
#mapbox {
    height: 99%;
    width: 100%;
    padding: 20px;
}
#map {
    height: 100%;
    width: auto;
}
#pano {
    width: 200px;
    height: 200px;
}
#teambox {
    clear: both;
}
#teamlogo {
    height: 130px;
    width: 130px;
    display: inline-block;
}
#teamname {
    font-size: 2em;
    clear: left;
}
.logo {
    display: inline-block;
    width: 128px;
    height: 128px;
}

@media (max-width: 767px) {
    header {
        height: 50px;
        width: 100%;
    }
    nav {
        margin-top: 0;
    }
    #mapbox {
        padding: 0;
    }
    #map {
        height: 90%;
        width: 100%;
    }
}
