html, body {
    height: 100%;
    background-color: #9795A3;
}
header {
    height: 100%;
    width: 25%;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
nav {
    margin-top: 20px;
    height: 95%;
    border-style: none !important;
    box-shadow: none !important;
    overflow: hidden !important;
    overflow-y: auto !important;
}
#title {
    margin-left: 10px;
    color: black;
    font-family: 'Bangers', cursive;
    font-size: 1.2em;
}
.team-btn {
    color: white !important;
    background-color: #261326 !important;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.divider {
    margin: 0 !important;
}
.team-li {
    padding: 20px;
    background-color: #261326;
    color: white;
}
.fav-btn {
    color: white !important;
    background-color: #7F9871 !important;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.dropdown-list {
    width: 190px;
}
.fav-li {
    height: 45px;
}
.li-div {
    height: 100%;
    background-color: #7F9871;
    color: white;
    float: left;
}
.fav-span {
    width: 170px;
    padding: 10px;
    float: left;
    overflow: hidden;
    font-size: 0.9em;
}
.fa-div {
    width: 18px;
    padding-top: 12px;
    float: left;
}
.favdellink {
    text-decoration: none;
    color: #C94F44;
}
.favdellink:hover {
    color: rgb(145, 21, 10);
}
.places-button {
    color: white !important;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.search-el {
    margin-top: 10px;
}
#mapbox {
    height: 99%;
    width: 100%;
    padding: 20px;
}
#map {
    height: 100%;
    width: auto;
}
#pano {
    width: 200px;
    height: 200px;
}
#teambox {
    clear: both;
}
#teamlogo {
    height: 130px;
    width: 130px;
    display: inline-block;
}
#teamname {
    font-size: 2em;
    clear: left;
}
.logo {
    display: inline-block;
    width: 128px;
    height: 128px;
}
#news {
    border: solid #9795A3 1px;
    border-radius: 8px;
}
#news ul {
    padding: 0;
    list-style-type: none;
}
.newsdivider {
    margin-top: 10px;
}
#copy {
    color: white;
}
.pointer { 
    cursor: pointer;
}
.pointer:hover {
    opacity: 0.8;
}


@media (max-width: 767px) {
    header {
        height: 50px;
        width: 100%;
    }
    nav {
        margin-top: 0;
    }
    #mapbox {
        padding: 0;
    }
    #map {
        height: 90%;
        width: 100%;
    }
    #teamlogo {
        height: 80px;
        width: 80px;
    }
    .logo {
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    header {
        width: 35%;
    }
}
